<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>创建地图上的大头针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD4BE09B1DAB395400ED38B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4BE0B41DAB395400ED38B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4BE0BF1DAB395400ED38B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
